body
{
  background:#0d3d3d ;
  margin:0 auto;
  width:1024px;
  height: auto;
  overflow: visible;
  min-height: 100%;
  font-style: David;
  color: #fff;
  font-size: 28px;
}
#contenedor h2
{
  font-size: 28px;
  display: block;
  margin: 0 0 50px 0;
}
#contenedor input[type=checkbox] , input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 0 auto;
}

span{
  display: block;
  margin: 20px auto;
  text-align:center;
}
a{
   text-decoration:none;
   color:#fff;
}
figure{
  display: inline-block;
}

/******************************
*   Global classes
******************************/
.hidden {
    display: none;
}
.checkboxtext
{
  margin:0 5px 0 100px;
  font-size: 110%;
  display: inline;
  padding-bottom: 10px;
  height: 100px;
  line-height: 100%;

}
.lastcheckboxtext
{
  margin:0 5px 0 0;

}
.labelsDown
{
  margin: 0;
  margin-bottom: 10px;
}
.inlines
{
    display: inline-block;
    width: 450px;
}

/******************************
*   Menu div styles
******************************/
#menu
{
  background:url("../image/options_img/option_Background.png") repeat-x;
  height:100px;
  text-align:center;
  margin-top: 20px;
  line-height: 100%;
  border: 1px #fff solid;
  border-style: outset;
  border-width:5px;
  border-bottom: 0;
  width:100%;
}
#menu a
{

  margin:5px 0 0 80px;
  vertical-align: center;

  display: inline-block;
  padding:10px 10px 2px 10px;
  text-decoration: none;
}
#menu .lastoption
{
  margin-left: 0;
}
#menu .option:hover
{
  background: #000;
  -webkit-filter: invert(1);
}
#menu .option img
{
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}
#menu .option .text
{
 margin: 0;
}
/******************************
*   Conteiner div styles
******************************/
#contenedor
{
  padding-top: 50px;
  height:auto;
  width:100%;
  text-align:center;
  margin:0 auto;
  border: 1px #fff solid;
  border-style: outset;
  border-width:5px;
  border-top: 0;
  background: #095E87;
  overflow: visible;
}
#contenedor div
{
  padding: 15px;
}
/******************************
*   account div styles
******************************/
#account
{
  overflow: visible;
}
#account input
{
  height: 50px;
  width: 250px;
  margin-bottom: 10px;
  font-size: 22px;


}
#account input[type=checkbox]
{
  height: auto;
  width: auto;
  -webkit-transform: scale(2); /* Safari and Chrome */
}
#account label{
  display: inline-block;
  width: 200px;
  padding: 5px;


}

#account .activeWeb
{
  margin:50px 0;
}
#account button{
  margin: 0 10px;
  height: 60px;
  font-size: 30px;
  height: auto;
  padding: 5px;
}
#account .buttons{
  text-align: right;
  overflow: hidden;
}

/******************************
*   courses div styles
******************************/

#courses
{
  overflow: visible;
}
#courses table
{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  text-align: center;
  border-collapse: collapse;
  font-style: David;
  font-size: 28px;
}
#courses table th,td
{
  padding: 0;
  margin:0;
  border: 1px solid #000;
  height: 40px;
}
#courses .refresh
{
  float: right;
  font-size: 21px;
  margin-right:2px;
}
#courses .btn
{
  float: right;

}
/******************************
*   notifications div styles
******************************/

#notifications input[type=number]
{
  height: auto;
  width: 80px;
  font-size: 18px;
}
#notifications button
{
  font-size: 26px;
}
/******************************
*   advanced div styles
******************************/
#advanced .helper
{
  text-align: right;
  margin: 0 50px 10px 0;
}
#advanced .option
{
  text-align: right;
  margin: 20px 50px 10px 0
}
#advanced figure img{
  width: 250px;
  height: 380px;
  border: #fff solid 0.2px;
}
#advanced button{
  font-size: 30px;
}

#about
{
  text-align: right;
}
#about .log
{
  margin:25px 50px 0 0;
}

#advanced .buttons
{
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
  text-align: center;
}

/*OVERIDE BOOTSTRAT*/

.panel{
  background-color: transparent;
}

#passiveMode
{
  text-align: right;
  margin-right: 50px;
}

th{
  text-align: center;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  float: right;
  margin-left: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}